run = "python main.py"

[nix]
channel = "stable-23_05"

[deployment]
deploymentTarget = "autoscale"
build = ["python3", "-m", "pip", "install", "-r", "requirements.txt"]
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "main:app"]
